body {
    color: black;
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#info-bar {
    background-color: lightgrey;
    border-bottom: black 0.2rem solid;
    position: fixed;
    align-items: center;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}

#header {
    font-size: 4.5rem;
    margin: 0 auto;
    padding-top: 1rem;
}

#candidate-counter {
    font-size: 2.5rem;
    margin: 1rem 0;
}

#end-candidate-input {
    margin: 1rem 0;
    padding: 0.2rem 0.7rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    border-width: 0.55rem;
    border-color: steelblue;
    background-color: #e0eeff;
    cursor: pointer;
}

#info-bar-placeholder {
    background-color: pink;
}

#input-master-div {
    display: inline-block;
    margin: 0 auto;
    align-items: center;
    padding: 0 2rem;
}

.candidate-div {
    max-width: 100%;
    font-size: 2rem;
    background-color: dodgerblue;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 2rem;
}

.header-div {
    padding-right: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.active, .candidate-div:hover {
    background-color: deepskyblue;
}

.dd-arrow {
    height: 2rem;
    padding-left: 0.25rem
}

.submission-state-image {
    padding: 0 0.5rem;
    height: 2rem;
}

.div-header-text {
    padding: 0 0.5rem;
    display: block;
}

.input-div {
    max-width: 100%;
    display: none;
    font-size: 1.75rem;
    overflow: hidden;
    justify-content: left;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.input-group {
    display: flex;
    margin: 1.75rem 0;
    justify-content: left;
    position: relative;
    text-align: left;
}

.input-prompt {
    max-width: 100%;
    padding: 0 1rem;
    justify-content: left;
}

.input-container {
    padding: 0;
}

.input-box {
    font-size: 1.5rem;
    position: relative;
}

.paragraph-container {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow-wrap: break-word;
    display: none;
    justify-content: left;
    text-align: left;
    margin: 0.5rem 0;
}

.button-div {
    display: inline-block;
    margin-bottom: 1rem;
}

.submission-button {
    color: black;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 1.1rem;
    border-color: steelblue;
    border-width: 0.4rem;
    cursor: pointer;
    background-color: #e0eeff;
    padding: 0.2rem 0.55rem;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: -1rem;
    display: none;
}

#voting-master-div {
    display: inline-block;
    margin: 0 auto;
    align-items: center;
    padding: 0 2rem;
}

.voting-div {
    display: flex;
    justify-content: left;
    max-width: 100%;
    font-size: 2rem;
    background-color: dodgerblue;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 2rem;
}

.voting-div:hover {
    background-color: deepskyblue;
}

.image-div {
    padding: 1rem 1.5rem;
    padding-right: 3rem;
}

.candidate-image {
    /* max-height: 300px; */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.info-div {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: left; */
    text-align: left;  
    max-width: 100%;
    font-size: 1.75rem;
    /* font-weight: bold; */
}

.candidate-info {
    width: 100%;
}




.grow { 
    cursor: pointer;
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.grow-small {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.grow-small:hover {
    transform: scale(1.015);
}

.hidden-on-load {
    display: none;
}