body {
    color: black;
    background-color: white; /* remember to change color back to white! */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    background-color: lightgray;
    font-size: 5rem;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: black 0.2rem solid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#header-placeholder {
    color: white;
    font-size: 5rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 1rem 0;
}

#input-master-div {
    display: inline-block;
    margin: 0 auto;
    align-items: center;
}

.candidate-div {
    font-size: 2rem;
    background-color: dodgerblue;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 2rem;
}

.header-div {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.active, .candidate-div:hover {
    background-color: deepskyblue;
}

.dd-arrow {
    height: 2rem;
    padding-left: 0.25rem
}

.submission-state-image {
    padding: 0 0.5rem;
    height: 2rem;
}

.div-header-text {
    padding: 0 0.5rem;
    display: block;
}

.input-div {
    font-size: 1.75rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.input-group {
    margin: 1.75rem 0;
    display: flex;
    justify-content: left;
    position: relative;
}

.input-prompt {
    padding: 0 1rem;
}

.input-container {
    padding: 0;
}

.input-box {
    font-size: 1.5rem;
    position: relative;
}

.paragraph-container {
    display: none;
    justify-content: left;
    text-align: left;
    margin: 0.5rem 0;
}

.button-div {
    display: inline-block;
    margin-bottom: 1rem;
}

.submission-button {
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: -1rem;
    display: none;
}



.hidden-on-load {
    display: none;
}